/* https://patorjk.com/software/taag/#p=display&f=ANSI%20Regular&t=Document
██████   ██████   ██████ ██    ██ ███    ███ ███████ ███    ██ ████████ 
██   ██ ██    ██ ██      ██    ██ ████  ████ ██      ████   ██    ██    
██   ██ ██    ██ ██      ██    ██ ██ ████ ██ █████   ██ ██  ██    ██    
██   ██ ██    ██ ██      ██    ██ ██  ██  ██ ██      ██  ██ ██    ██    
██████   ██████   ██████  ██████  ██      ██ ███████ ██   ████    ██    */
@font-face {
  font-family: "Outfit Regular";
  src: url("../../assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit Medium";
  src: url("../../assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Outfit Bold";
  src: url("../../assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 700;
}
/* DEFAULT VALUES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  font-family: var(--normal-font);
  color: var(--text-colour);
}
/* VARIABLES (FONTS AND COLOUR PALETTE) */
:root {
  --normal-font: "Outfit Regular";
  --medium-font: "Outfit Medium";
  --bold-font: "Outfit Bold";

  --text-colour: #ffffff;
  --text-colour-2: #d3d3d3;
  --text-colour-3: #999999;

  --bg-colour: #2a2d31;
  --bg-colour-2: #32363b;

  --hl-colour-1: #86cecb;
  --hl-colour-2: #137a7f;
  --hl-colour-3: #e12886;
}
html {
  font-size: 16px;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
h1,
h2 {
  font-family: var(--bold-font);
  font-weight: 700;
}
section {
  display: flex;
  background-color: var(--bg-colour);
  min-height: 100vh;
  padding: 1rem 1rem;
}
.hl {
  background: linear-gradient(270deg, var(--hl-colour-1) 10%, var(--hl-colour-2) 100%);
  background-clip: text;
  color: transparent;
}
/* SCREEN SIZING */
@media screen and (min-width: 1024px) {
  html {
    font-size: 24px;
  }
}

/*
███    ██  █████  ██    ██ 
████   ██ ██   ██ ██    ██ 
██ ██  ██ ███████ ██    ██ 
██  ██ ██ ██   ██  ██  ██  
██   ████ ██   ██   ████   
*/
nav {
  padding-top: 1rem;
  text-align: center;
  position: absolute;
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
nav ul li {
  margin: 0 0.5rem;
  padding: 0.5rem;
}
nav ul li a {
  display: inline-block;
  color: var(--text-colour);
  font-family: var(--normal-font);
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  cursor: pointer;
}
nav ul li a:hover {
  color: var(--hl-colour-3);
  transition: 0.5s;
}
nav ul li a img {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

/* Change number based on page
(e.g. 1= home, 2=about, etc) */
nav ul li:nth-child(2) a {
  color: var(--hl-colour-3);
}

/* HAMBURGER MENU */
#nav-toggle {
  display: none;
}
.hamburger {
  display: none;
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 101;
}
.hamburger span {
  display: block;
  width: 2rem;
  height: 0.25rem;
  margin: 0.3rem 0;
  background: var(--hl-colour-3);
  border-radius: 2px;
  transition: all 0.2s ease;
}
#nav-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
  background: var(--text-colour);
}
#nav-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
  background: var(--text-colour);
}
#nav-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
  background: var(--text-colour);
}

/* HAMBURGER MENU */
@media (max-width: 600px) {
  .hamburger {
    display: flex;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
  }
  nav ul {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--hl-colour-3);
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 100;
  }
  nav ul li a {
    color: var(--text-colour);
    font-family: var(--bold-font);
    font-size: 1rem;
  }
  nav ul li a:hover {
    color: var(--hl-colour-1);
    transition: 0.5s;
  }
  /* Change number based on page
(e.g. 1= home, 2=about, etc) */
  nav ul li:nth-child(2) a {
    color: var(--hl-colour-1);
  }
  #nav-toggle:checked ~ ul {
    opacity: 1;
    pointer-events: auto;
  }
}

/*
 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
*/
.about {
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  flex-direction: column;
}
.about-ctr {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  max-width: 50rem;
  padding: 2rem;
  border-radius: 10px;
}
.about-ctr h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
.about-ctr p {
  font-size: 0.8rem;
  color: var(--text-colour-2);
}
.about-ctr span {
  font-family: var(--bold-font);
  text-transform: uppercase;
}

.interests-ctr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
}
.interests-ctr h1 {
  padding: 0 0 1rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.interests-ctr ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem;
  overflow: scroll;
  max-height: 12rem;
  list-style: none;
  justify-content: flex-start;
}
.interests-ctr li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  position: relative;
}
.interests-ctr .square-corner-cut {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--hl-colour-1);
  font-size: 2rem;
  transition: color 0.5s;
  width: 100%;
  height: 100%;
  stroke: var(--hl-colour-1);
  transition: 0.5s ease;
}
.interests-ctr .interests-icon {
  position: relative;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  fill: var(--hl-colour-1);
  transition: 0.5s ease;
}
.interests-ctr li:hover .square-corner-cut {
  scale: 1.1;
  stroke: var(--hl-colour-3);
}
.interests-ctr li:hover .interests-icon {
  scale: 1.1;
  fill: var(--hl-colour-3);
}
.btn-container {
  display: flex;
  margin-top: 2rem;
}
.btn-container button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  width: 9rem;
  background: linear-gradient(45deg, transparent 0.6rem, var(--hl-colour-2) 0);
  font-size: 1rem;
  text-transform: uppercase;
  border-right: 2px solid var(--hl-colour-3);
  transition: color 0.5s;
}
.btn-container button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, transparent 0.6rem, var(--hl-colour-3) 0);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
}
.btn-container button:hover::before {
  opacity: 1;
}
.btn-container button span {
  position: relative;
  z-index: 2;
}
.btn-container button:hover {
  cursor: pointer;
}

/*
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
*/
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 5;
}
.footer-ctr {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  height: 6rem;
  width: 4rem;
  right: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-right: 2px solid var(--hl-colour-3);
  background: linear-gradient(135deg, transparent 0.6rem, var(--hl-colour-2) 0);
  transition: color 0.5s;
}
.footer-ctr p {
  position: absolute;
  writing-mode: sideways-lr;
  top: 30%;
  right: 0;
  text-transform: capitalize;
  text-wrap: nowrap;
  font-size: 0.3rem;
  color: var(--hl-colour-1);
}
.socials-ctr {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.socials-ctr svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--hl-colour-1);
  transition: 0.5s ease;
}
.socials-ctr svg:hover {
  transform: scale(1.1);
  fill: var(--hl-colour-3);
}

/*
 ██████  ██      ██ ████████  ██████ ██   ██ 
██       ██      ██    ██    ██      ██   ██ 
██   ███ ██      ██    ██    ██      ███████ 
██    ██ ██      ██    ██    ██      ██   ██ 
 ██████  ███████ ██    ██     ██████ ██   ██ 
*/
.glitch {
  position: relative;
  color: var(--text-colour);
  mix-blend-mode: lighten;
}

/* Base glitch layers */
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Left-glitch layer */
.glitch::before {
  left: -2px;
  text-shadow: 6px 0 var(--hl-colour-1), 4px 0 var(--hl-colour-2);
  animation: glitch-anim-1 0.9s infinite ease-in-out alternate-reverse;
}

/* Right-glitch layer */
.glitch::after {
  left: 2px;
  text-shadow: -3px 0 var(--hl-colour-3), -5px 0 var(--hl-colour-3);
  animation: glitch-anim-2 1s infinite ease-in-out alternate-reverse;
}

/* Top-layer clipping effect */
@keyframes glitch-anim-1 {
  0% {
    clip-path: inset(10% 0 80% 0);
  }
  25% {
    clip-path: inset(40% 0 40% 0);
  }
  50% {
    clip-path: inset(20% 0 60% 0);
  }
  75% {
    clip-path: inset(60% 0 20% 0);
  }
  100% {
    clip-path: inset(30% 0 50% 0);
  }
}

/* Bottom-layer clipping and shift */
@keyframes glitch-anim-2 {
  0% {
    clip-path: inset(70% 0 10% 0);
    transform: translateX(-5px);
  }
  25% {
    clip-path: inset(30% 0 40% 0);
    transform: translateX(2px);
  }
  50% {
    clip-path: inset(10% 0 70% 0);
    transform: translateX(-5px);
  }
  75% {
    clip-path: inset(50% 0 30% 0);
    transform: translateX(3px);
  }
  100% {
    clip-path: inset(20% 0 60% 0);
    transform: translateX(0);
  }
}
