@use 'variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    font-family: $bold-font;
    height: $navbar-height;
}

main {
    min-height: 100vh;
}

section{
    min-height: 100vh;
}

.landing-section {
    padding-top: $navbar-height;
}
