// Color Variables
$light-cyan: #86CECB;
$dark-cyan: #137A7F;
$pink: #E12886;
$yellow: #FEF938;
$red: #C60121;
$grey-1: #2A2D31;
$grey-2: #32363B;

// Font Variables
$bold-font: 'Oxanium', 'Mochiy Pop One', sans-serif;

// Layout Variables
$navbar-height: 64px;

// CSS Custom Properties
:root {
    --light-cyan: #86CECB;
    --dark-cyan: #137A7F;
    --pink: #E12886;
    --yellow: #FEF938;
    --red: #C60121;
    --grey-1: #2A2D31;
    --grey-2: #32363B;

    --navbar-height: #{$navbar-height};
}


// Animations
.blink {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
